name: AI PR Bot
on:
  pull_request:
    types: [opened, reopened, ready_for_review, synchronize]

jobs:
  ai-pr-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: jacsamell/github-pr-bot@v1
        with:
          anthropic_api_key: ${{ secrets.ANTHROPIC_API_KEY_FOR_AI_PR_BOT }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          auto_review: false
          auto_describe: true
          auto_improve: false
          enable_auto_approval: true
          model: "anthropic/claude-sonnet-4-20250514"
          max_model_tokens: "100000"
          # require_trigger: true
