name: Generate PR Description

on:
  pull_request:
    types: [opened, edited, synchronize]

env:
  TEMPLATE_FILE_PATH: .github/pr-description-template.md

jobs:
  generate-description:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Read template content
        id: read-template
        run: |
          content=$(cat ${{ env.TEMPLATE_FILE_PATH }} | sed ':a;N;$!ba;s/\n/\\n/g')
          echo "template_content=$content" >> $GITHUB_OUTPUT

      - name: Get Commit Messages
        id: commit_messages
        run: |
          COMMITS=$(git log --oneline HEAD^..HEAD)
          echo "commits=$(echo "$COMMITS" | jq -sRr @uri)" >> $GITHUB_OUTPUT
          echo "=== COMMIT MESSAGES ==="
          echo "$COMMITS"
          echo "=== END COMMIT MESSAGES ==="

      - name: Generate PR Description
        id: generate_desc
        uses: alvarocperez/pull-request-description@v1.0.2
        with:
          api_key: ${{ secrets.OPENAI_API_KEY_FOR_PR_DESC_GENERATOR }}
          prompt: ${{ steps.read-template.outputs.template_content }}
          git_diff: ${{ steps.commit_messages.outputs.commits }}

      - name: Update PR Description
        uses: actions/github-script@v6
        env:
          PR_DESCRIPTION: ${{ steps.generate_desc.outputs.description }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { owner, repo } = context.repo;
            await github.rest.pulls.update({
              owner,
              repo,
              pull_number: context.payload.pull_request.number,
              body: process.env.PR_DESCRIPTION
            });
