name: Pull Request Text Generator Workflow

on:
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  pull-requests: write
  contents: read

jobs:
  prepare-template:
    runs-on: ubuntu-latest
    outputs:
      system_prompt: ${{ steps.read-template.outputs.content }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Read template content
        id: read-template
        run: |
          content=$(cat .github/custom-summary-prompt.md | sed ':a;N;$!ba;s/\n/\\n/g')
          echo "content=$content" >> $GITHUB_OUTPUT

  generate-pr-text:
    runs-on: ubuntu-latest
    needs: prepare-template
    steps:
      - name: Generate PR Description
        uses: vblagoje/pr-auto@v1
        id: pr_auto
        with:
          openai_api_key: ${{ secrets.OPENAI_API_KEY_FOR_PR_DESC_GENERATOR }}
          system_prompt: ${{ needs.prepare-template.outputs.system_prompt }}

      - name: Update PR description
        uses: vblagoje/update-pr@v1
        with:
          pr-body: ${{ steps.pr_auto.outputs.pr-text }}
